body{
background-color: #ed3615;

}
.felalogo{
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  background-color: #042e0f;
  
}
.row {
  display: flex;
}

.column {
  flex: 50%;
  margin: 40px;
  text-align: center;

}
h1{
  text-align: center;
  font-family: monospace;
}
p{
  text-align: center;
  font-family: monospace;
  background-color: #edcf09;
  border-radius: 15px;
  padding: 10px;
}
h2{
  text-align: center;
  font-family: monospace;
}
.imagebox {
    flex: 30%;
    padding: 5px;
  }
  img {
    width: 100%;
  }
  .container {
     display: flex;
     background-color: #4f2f73;
  }
  .youtube{
    text-align: center;
    background-color: #b5a40e;
    padding: 50px;
  }

  .imagebox2 {
    flex: 30%;
    padding: 5px;
  }
  img {
    width: 100%;
  }
  .container2 {
     display: flex;
     background-color: #4f2f73;
  }